*{ box-sizing: border-box; }


/*от Дениса--------------------------------*/
.header__burger
{
  display:none;

  position:relative;

}

 .burger__bar1, .burger__bar2, .burger__bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.header__burger:hover
{
  cursor:pointer;
}

.burger-menu {
  display: none;
  position:absolute;

  background:white;
  z-index:2;
  border-radius:3px;
  border:1px solid black;
width:95%;

  }
  .burger-menu ul {
    margin-left: 15px;
    width: 90%;
    list-style: none;
    text-align: left; }
    .burger-menu ul li {
      /*display:inline-block;*/
      margin: 10px 0; }
      .burger-menu ul li a {
        text-decoration: none;
        color: #555555;
        font-family: HelveticaNeue;
        font-weight: bold;
        font-size: 24px; }
      .burger-menu ul li a:hover {
        text-decoration: underline; }

.js-burger-menu {
  display: block; }

  /* ------------------------------------------*/

.PageArenda{
	max-width: 1920px;
	position: relative;
    margin: 0 auto;
    background: white;
}

.container{
	max-width: 100%;
	width: 1240px;
	padding: 0 20px;
	margin: 0 auto;
}
.container_pic{
	max-width: 100%;
	width: 1240px;
	padding: 0 20px;
	margin: 0 auto;
}

.PageArenda__header{
	position: relative;
	/*display: flex;
	justify-content: space-between;
	min-height: 100px;
	align-items: center;*/

}
.PageArenda__header_logo{
	display: block;
	position: absolute;
	height: 100%;
	left: 20px;
}
.a1{
	margin-left: 140px;
	display: flex;
	min-height: 100px;
	align-items: center;
	justify-content: flex-end;
}


.PageArenda__header_nav{
	width: calc( 92% - 265px);
}
.PageArenda__header_nav_list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style-type: none;
}
.PageArenda__header_nav_list-item{	
	position: relative;
	margin-right: 22px;  }
.PageArenda__header_nav_list-item a{ 
	text-decoration: none; 
	font-family: HelveticaNeueCyr;
	font-weight: bold;
	line-height: 26px;
	font-size: 18px;
	color: #555555
}
.PageArenda__header_nav_list-item a:hover{
	text-decoration: underline;
}
.PageArenda__header_nav_list-item:nth-child(2):after{
	content: '';
	display: block;
	position: absolute;
	right: -17px;
	top: calc(50% - 5px);
	background-image: url(img/polygon.svg);
	background-origin: content-box;
	background-repeat: no-repeat;
	width: 12px;
	height: 12px;
}
.PageArenda__header_nav_list-item:nth-child(3):after{
	content: '';
	display: block;
	position: absolute;
	right: -17px;
	top: calc(50% - 5px);
	background-image: url(img/polygon.svg);
	background-origin: content-box;
	background-repeat: no-repeat;
	width: 12px;
	height: 12px;

}
.PageArenda__header_nav_list-item:nth-child(4):after{
	content: '';
	display: block;
	position: absolute;
	right: -17px;
	top: calc(50% - 5px);
	background-image: url(img/polygon.svg);
	background-origin: content-box;
	background-repeat: no-repeat;
	width: 12px;
	height: 12px;

}

.PageArenda__header_contacts{
	text-align: right;
	padding: 12px 0 0;
	width: 265px;
}

.PageArenda__header_contacts-phone{
	display: block;
	margin-bottom: 8px;
	font-family: HelveticaNeueCyr;
	line-height: normal;
	font-weight: normal;
	font-size: 20px;
	text-decoration: none;
	color: #BFDF14;}

.PageArenda__header_contacts-mail{
	font-family: HelveticaNeueCyr;
	line-height: normal;
	font-weight: lighter;
	font-size: 14px;
	text-decoration-line: underline;
	color: #3477DB;
}

.PageArenda__MainPic{
	position: relative;
	z-index: 1;
	background-image: url(img/MainPic.jpg);
	background-repeat: no-repeat;
	background-position: top;
	padding-top: 200px;padding-bottom: 250px;
	    background-size: cover;
}

.PageArenda__MainPic_pic{


}

.PageArenda__MainPic_text{
background: rgba(205, 221, 0, 0.7);
text-align: center;
padding-top: 55px;padding-bottom: 70px;
/*backdrop-filter: blur(14px); 
 Note: backdrop-filter has minimal browser support */
}

.PageArenda__MainPic_text-offices{
	font-family: HelveticaNeueCyr;
	line-height: normal;
	font-size: 52px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
}
.PageArenda__MainPic_text-line{
	margin: 23.21px auto 21.28px;
	background: #FFFFFF;
	width: 155.87px;
	height: 2.9px;
}

.PageArenda__MainPic_text-arenda{
	font-family: HelveticaNeue;
	line-height: 36px;
	font-size: 28px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	font-stretch: condensed;
}

.PageArenda__headline{
	position: relative;
	margin: 100px auto 32px;
	font-family: HelveticaNeueCyr;
	line-height: 65px;
	font-size: 45px;
	font-weight: bold;
	color: #555555;
	text-align: left;
}

.line-left{
	position: absolute;
	width: 425px;
	height: 4px;
	background: #CDDD00;
	top: calc(50% - 2px);
	right: calc(50% + 600px + 41px);
}

.PageArenda__form_wrapper{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;

}
.PageArenda__form_text{
	width: 45%;
	padding-top: 70px;

}
.PageArenda__form_list_item{
	display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 23px; margin-left: 22px;
}

}
.PageArenda__form_list:last-child{
	margin-bottom: 0;
}
.list_container{
	position: relative;
	height: 37px;
	min-width: 139px;
	width: calc(115px + 24.71px);
}
.list_number{
	position: absolute;
	width: 37px;
	height: 37px;
	background: #BFDF14;
	border: 2px solid #BFDF14;
	border-radius: 37px;
	font-family: HelveticaNeueCyr;
	line-height: normal;
	font-size: 18px;
	/*line-height: 35px;*/
	padding: 6px 0 7px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
}

.list_rectangle{
	display: block;
	position: absolute;
	left: 24.71px
}
.list_text{
	display: block;
	position: relative;
	font-family: HelveticaNeueCyr;
	line-height: 23px;
	font-size: 16px;
	font-weight: bold;
	color: #FF8530;
	line-height: 37px;
	margin-left: 19px;
}

.PageArenda__form_list .list_text:after{
	content: '';
	display: block;
	position: absolute;
	z-index: 1;
	top: 18px;
	right: calc( -251px - 17px);
	width: 251px;
	height: 1px;
	background: #BFDF14;


}

#ConsultForm{
	position: relative;
	z-index: 2;
	background: #BFDF14;
	padding-top: 31px;
    padding-left: 104px;
    padding-bottom: 44px;
    padding-right: 45px;
}
.PageArenda__form_data{
	width: 55%;
	width: 604px;
}

.PageArenda__form_data input{
	height: 38px;
	width: 92%;
	padding: 0;
	border: 0;
	background: #F8FBDA;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
	padding-left: 10px;
}

.PageArenda__form_data #YourName input,
.PageArenda__form_data #YourPhone input{
	margin: 0 0 13px 0; 
}
.PageArenda__form_data textarea{
	margin: 0; 
	padding: 10px;
	width: 92%;
	background: #F8FBDA;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
	resize: none;
    border:none;
}

.data-description{
	font-family: HelveticaNeueCyr;
	line-height: normal;
	font-size: 14px;
	color: #FFFFFF;
	margin-bottom: 3px;
}

.PageArenda__form_data form input[type="submit"]{
	cursor: pointer;
	background: linear-gradient(270deg, #2A2A2A 0%, #474747 90.36%);
	height: 59px;
	margin: 37px 0 0;
	font-family: HelveticaNeueCyr;
	line-height: normal;
	font-size: 22px;
	color: #FFFFFF;
	width: 92%;
}
#YourComment textarea{
	height: 92px;
	background: #F8FBDA;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
	resize: none;
    border:none;
}
.PageArenda__form_data form div{
	position: relative;
}
#YourName:before{
	content:'';
	display: block;
	position: absolute;
	left: calc(-27px - 14px);
	top: 11px;
	height: 24px;
	width: 27px;
	background-image: url(img/vcard.svg);
	background-origin: content-box;
	background-repeat: no-repeat;
}
#YourPhone:before{
	content:'';
	display: block;
	position: absolute;
	left: calc(-24px - 15px);
	top: 8px;
	height: 24px;
	width: 24px;
	background-image: url(img/vphone.svg);
	background-origin: content-box;
	background-repeat: no-repeat;
}

#YourComment:before{
	content:'';
	display: block;
	position: absolute;
	left: calc(-24px - 15px);
	top: 7px;
	height: 24px;
	width: 24px;
	background-image: url(img/vtext.svg);
	background-origin: content-box;
	background-repeat: no-repeat;
}

#WeOffer{
	margin-top: 130px;
	margin-bottom: 57px;
}

.PageArenda__content{
	position: relative;
	overflow: hidden;
	/*min-height: 403px;*/
	padding: 39px 78px 1px;


	box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.03), 0px 4px 10px rgba(0, 0, 0, 0.06);
	-moz-box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.03), 0px 4px 10px rgba(0, 0, 0, 0.06);
	-webkit-box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.03), 0px 4px 10px rgba(0, 0, 0, 0.06);
	-o-box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.03), 0px 4px 10px rgba(0, 0, 0, 0.06);

}
.PageArenda__content_number{
	position: absolute;
	bottom: -62px;
	right: -10px;

	font-family: HelveticaNeueCyr;
	line-height: 233px;
	font-size: 160px;
	color: rgba(205, 221, 0, 0.2);
}
.content-squares{ margin-bottom:calc( 38px + 20px); }

.content-pic{
	float:left;
	display: block;
}
.content-title{
	float:left;
}
.content-title{
	margin-left: 32px;
}
.PageArenda__content_header{
	text-align: left;
}
.content-title{
	padding-top: 10px;
}
.PageArenda__content_header .header-up{
	font-family: HelveticaNeueCyr;
	line-height: 28px;
	font-size: 22px;
	color: #FF8530;
}
.PageArenda__content_header .header-down{
	font-family: HelveticaNeueCyr;
	line-height: 26px;
	font-size: 20px;
	font-weight: bold;
	color: #555555;

}
.PageArenda__content_line{
	width: 100%;
	height: 1px;
	background: rgba(177, 177, 177, 0.45);
	text-align: center;

	margin-top: 32px; margin-bottom: 33px;
}

.PageArenda__content_text{
	margin-bottom: 66px;
	width: 100%;
	font-family: HelveticaNeueCyr;
	line-height: 29px;
	font-size: 16px;
	color: #555555;
}

.content-infrastructures{
	margin-bottom: 39px;
}

.text-colored{
	color: #BFDF14;
	text-decoration: underline;
}

.content-society{ margin-bottom: 89px; }

.PageArenda__presentation{
	/*width: 100%;*/
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.PageArenda__presentation_pic img{
	 	width: 100%; 
	 	margin-top: 4px; }


.PageArenda__presentation_download{
	margin-top: 12px;
	margin-left: 8.83px;
	border-bottom: 1px solid #555555;
}
.PageArenda__presentation_download a{
	font-family: HelveticaNeueCyr;
	line-height: normal;
	font-size: 14px;
	text-decoration-line: none;
	color: #555555;
}
.PageArenda__presentation_download a:hover{
	
}
/*.PageArenda__presentation_download a:visited{
	color: #800080;
}*/

#Gallery{
	margin: 77px auto 48px;
}
.PageArenda__Gallery{
	column-count: 3;
	column-gap: 1em;
}
.PageArenda__Gallery img{
	display: block;
	width: 100%;
	margin-bottom: 1em;
}
.PageArenda__Gallery a{
	display: inline-block;
}

#ContactUs{
	margin: -9px auto 62px;/*margin: 123px auto 62px; из-за нижнего отступа у галереи*/
}

.PageArenda__contacts_wrapper{
	background: #CDDD00;
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;}

.PageArenda__contacts{
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 93px;
	padding-bottom: 93px; 
}

.PageArenda__contacts_logo-back{
	position: absolute;
	left: 164px;
	bottom: 0;
}

.PageArenda__contacts_logo-back img{
	opacity: 0.5;
}
.PageArenda__form_title{
	font-family: HelveticaNeueCyr;
	line-height: 35px;
	font-size: 24px;
	color: #FFFFFF;
	margin-bottom: 7px;
    margin-left: calc(-27px - 14px);
}

#ContactForm{
	background: transparent;
	padding-right: 22px;
    padding-left: 60px;
    z-index: 2;
	max-width: 503px;
}

.PageArenda__contacts_text{
	width: 42%;
}
.PageArenda__contacts_title{
	font-family: HelveticaNeueCyr;
	line-height: normal;
	font-weight: bolder;
	font-size: 24px;
	color: #FFFFFF;

}

.PageArenda__contacts_name{
	font-family: HelveticaNeueCyr;
	line-height: normal;
	font-weight: bold;
	font-size: 22px;
	color: #FFFFFF;
	margin-top: 38px; margin-bottom: 15px;

}
.PageArenda__contacts_phone{
	margin-bottom: 5px;
}
.PageArenda__contacts_phone a{
	font-family: HelveticaNeueCyr;
	line-height: normal;
	font-size: 18px;
	color: #FFFFFF;
	text-decoration: none;
}
.PageArenda__contacts_mail{
	margin-top: 18px;
}
.PageArenda__contacts_mail a{
	font-family: HelveticaNeueCyr;
	line-height: normal;
	font-weight: lighter;
	font-size: 18px;
	text-decoration-line: underline;
	color: #3477DB;
}

#ArendaRates{
	margin-top: 158px;
}
.PageArenda__prices{
	padding-top: 62px;

}
.PageArenda__prices_header{
	display:flex;
	flex-wrap: wrap;
	flex-direction: flex-start;
	
}
.PageArenda__prices_header_left{
	margin-right: 186px;
}
.PageArenda__prices_header-up{
	font-family: HelveticaNeueCyr;
	line-height: 39px;
	font-size: 22px;
	font-weight: bold;
	color: #FF8530;
}
.PageArenda__prices_header-down{
	color: #555555;
	font-family: HelveticaNeueCyr;
	line-height: 39px;
	font-size: 18px;
	font-weight: bold;
	/*font-stretch: condensed;*/
}


.PageArenda__prices_text{
	margin-top: 30px; margin-bottom: 47px;
	text-align: left;
	font-family: HelveticaNeueCyr;
	line-height: 29px;
	font-size: 16px;
	color: #555555;
}

.PageArenda__PS{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 160px;
}

.PageArenda__PS_left{
	width: 40%;
}

.PageArenda__PS_right{
	width: 40%;
}
.PageArenda__PS_pic-att{
	min-width: 18px;
	margin-right: 6px;
	background: url(img/attention.svg) no-repeat;
	background-position: top;
}
.PageArenda__PS_pic-reg{
	min-width: 18px;
	margin-right: 7px;
	background: url(img/registr.svg) no-repeat;
	background-position: top;
}

.PageArenda__PS_left-up{
	display: flex;
	flex-direction: row;
	margin-bottom: 16px;
}
.PageArenda__PS_right-up{
	display: flex;
	flex-direction: row;
	margin-bottom: 2px;
	
}
.PageArenda__PS_text{
	font-family: HelveticaNeueCyr;
	line-height: 23px;
	font-size: 14px;
	color: #9C9C9C;
}

.PageArenda__PS_left-down a{
	font-family: HelveticaNeueCyr;
	line-height: normal;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	color: #CDDD00;

}
.PageArenda__PS_left-down a:hover{
	border-bottom: 1.5px solid #CDDD00;
}

.PageArenda__PS_right-down{
	display: flex;
}

.PageArenda__PS_memo_download{
	display: block;
}
.PageArenda__PS_memo_download a{
	border-bottom: 1px solid #555555;
	margin-left: 10.92px;
	padding-top: 3px;
	max-height: 30px;
}
.PageArenda__PS_memo_download a:hover{
}

.PageArenda__PS_memo_download a{
	font-family: HelveticaNeueCyr;
	line-height: normal;
	font-size: 18px;
	line-height: 37px;
	text-decoration-line: none;
	color: #555555;
}



.PageArenda__footer_wrapper{
	background: url(img/footer_back.jpg) no-repeat;
	background-position: center;
	min-height: 569px;
}
.PageArenda__footer{
	display: flex;
	justify-content: space-between;

}



/*футер от Дениса------------------------------*/
.footer-background {
  background-color: #414141;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  font-family: HelveticaNeue;
    font-weight: bold;
    font-stretch: condensed;
  color: #A9A9A9;
  padding-top: 50px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 30px; }

.footer-lists {
  text-align: left;
  padding-bottom: 50px; }

.footer-list {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  text-align: left;
  padding-right: 45px; }
  .footer-list li a {
    font-size: 14px;
    line-height: 22px;
    font-family: HelveticaNeue;
    font-weight: bold;
    font-stretch: condensed;
    color: #A9A9A9;
    text-decoration: none; }
  .footer-list li a:hover {
    text-decoration: underline; }
  .footer-list li:first-child {
    margin-bottom: 20px; }
    .footer-list li:first-child a {
      font-size: 16px;
      line-height: 36px;
      font-family: HelveticaNeue;
    font-weight: bold;
    font-stretch: condensed;
      color: white;
      text-decoration: none;
      text-transform: uppercase; }
    .footer-list li:first-child a:hover {
      text-decoration: underline; }

.footer-user-links {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; }

.footer-user-links__img {
  position: relative;
  left: 0; }

.footer__links {
  display: flex;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap; }
  .footer__links a {
    text-decoration: none;
    color: #A9A9A9;
    margin: 0 20px; }
  .footer__links a:hover {
    text-decoration: underline; }
  .footer__links p {
    margin: 0 20px; }

.social-networks {
  margin-top: 50px;
  margin-bottom: 50px; }
  .social-networks a {
    text-decoration: none;
    margin: 10px 10px; }
.tech-support a{
    font-family: HelveticaNeueCyr;
    line-height: normal;
    font-weight: normal;
    text-decoration: none;
    color: #A9A9A9;
}
.gray {
    color: rgb(169, 169, 169);
    text-decoration: none;
}

@media screen and (max-width: 1164px) {
  .footer-lists {
    text-align: center; }
  .footer-list {
    margin-right: 0;
    padding-right: 20px; }
    .footer-list :not(:first-child) {
      display: none; } }
@media screen and (max-width: 572px) {
    .text__service {
       box-shadow: none;
    }
}
/*-----------------------------------------------------*/


@media screen and (max-width: 1200px) {
	.PageArenda__form_wrapper{
		padding: 0;
	}
	.container_pic{
		padding: 0;
	}
	.PageArenda__header_logo{
		left: 0;
	}
}
@media screen and (max-width: 419px) {
	#ContactForm{
		padding-right: 0;
		padding-left: 35px;
	}

	.PageArenda__form_data input,
	.PageArenda__form_data form input[type="submit"]{
		width: 100%;
	}
	.PageArenda__form_data textarea{
		width: 100%;
	}
	#ConsultForm{
		padding-left: 60px;
		padding-right: 20px;
	}
	.PageArenda__form_text{
		width: 100%;
	}
	.PageArenda__form_data{
		width: 100%;
	}


}

@media screen and (max-width: 1138px) {
	.PageArenda__form_text{
		width: 55%;
	}
	.PageArenda__form_wrapper{
		flex-direction: column;
	}
	
	.PageArenda__form_list .list_text:after{
		right: calc( -1051px - 17px);
    	width: 1051px;
	}
	.PageArenda__form_list_item{
		/*overflow: hidden;*/
	}
	#ConsultForm{
		margin: 0 auto;
		max-width: 604px;
	}
}
@media screen and (max-width: 1024px) {

	.a1{
		flex-direction: column;
		align-items: flex-start;
	}
	.PageArenda__header_contacts{
		text-align: left;
		width: 100%;
	}
	.PageArenda__header_contacts a{
		display:inline-block;
		margin-left: 20px;
	}
	.PageArenda__header_nav{
		width: 75%;
		margin-left: 20px;
	}
	.PageArenda__header_nav_list{
		justify-content: space-between;
	}

	.PageArenda__headline{
		font-size: 37px;
	}
	
	.PageArenda__headline{
		margin: 80px auto 32px;
	}
	.PageArenda__form_text{
		padding-top: 40px;
	}
	#WeOffer{
		margin-top: 100px;
		margin-bottom: 17px;
	}
	.PageArenda__content_number{
		line-height: 219px;
    	font-size: 140px;
	}
	.PageArenda__content_text{
		margin-bottom: 36px;
	}
	#ArendaRates{
		margin-top: 128px;
    	margin-bottom: 12px;
	}


}

@media screen and (max-width: 940px) {
	.PageArenda__contacts{
		flex-direction: column;
		padding-top: 73px;
    	padding-bottom: 73px;
	}
	.PageArenda__contacts_text{
		width: 100%;
	}
	.PageArenda__contacts_title{
		text-align: center;
	}
	.Dudarev-Afanasiev{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	#ContactForm{
		margin: 35px auto 0px;
	}
	.PageArenda__form_title{
		text-align: center;
	}

	.PageArenda__form_text{
		width: 100%;
	}
}
@media screen and (max-width: 767px) {
	.PageArenda__PS_memo_download{
		padding-top: 3px;
	}

	.PageArenda__form_list .list_text:after{
		display: none;
	}
	.PageArenda__header_nav{
		width: 85%;
	}
	.PageArenda__header_contacts-phone{
		font-size: 18px;
	}

	.PageArenda__Gallery{
	column-count: 2;
	column-gap: 1em;
	}
	.PageArenda__MainPic_text-offices{
		font-size: 48px;
		}
	.PageArenda__MainPic_text-arenda{
		font-size: 24px;
	}
	.PageArenda__headline{
		font-size: 32px;
		line-height: 52px;
	}
	.list_container{
		display: none;
	}
	.PageArenda__form_list .list_text:after{
		display: none;
	}
	.PageArenda__form_list_item{
		justify-content: center;
	}
	.list_text{
		margin-left: 0;
	}
	.list_text{
		font-size: 14px;
	}
	.PageArenda__form_list_item{
		margin-left: 0;
		margin-bottom: 8px;
	}
	.PageArenda__content_header .header-up{
		font-size: 20px;
	}
	.PageArenda__content_header .header-down{
		font-size: 18px;
	}
	.PageArenda__content_text{
		font-size: 14px;
		line-height: 27px;
	}
	.PageArenda__headline{
		margin: 60px auto 12px;
	}
	.PageArenda__form_text{
		padding-bottom: 15px;
	}
	#WeOffer{
		margin-top: 80px; margin-bottom: 0;
	}
	.content-pic img{
		width: 8vh;
	}
	.content-title{
		padding-top: 1px;
		margin-left: 28px;
	}
	.PageArenda__content_number{
		font-size: 144px;
	}
	.PageArenda__content{
		padding: 29px 20px 1px;
	}
	#Gallery {
    margin: 57px auto 38px;
	}
	.PageArenda__prices_header-up{
		font-size: 20px;
		line-height: 37px;
	}
	.PageArenda__prices_header-down{
		font-size: 16px;
		line-height: 37px;
	}
	#ContactUs {
    	margin: 72px auto 42px;
	}
	.PageArenda__prices_text{
		line-height: 27px;
    	font-size: 14px;
	}
	.PageArenda__PS_text{
		line-height: 21px;
    	font-size: 12px;
	}
	.PageArenda__PS_left-down{
		font-size: 12px;
	}
	.PageArenda__PS_memo_download a{
		font-size: 16px;
    	line-height: 35px;
	}
	.PageArenda__PS_memo_pic img{
		width: 3.5vh;
	}
	.PageArenda__PS{
		margin-bottom: 120px;
	}
	.PageArenda__PS_left,.PageArenda__PS_right{
		width: 45%;
	}
	.data-description{
		font-size: 12px;
	}


}

@media screen and (max-width: 620px){
	.PageArenda__PS{
		flex-direction: column;
		align-items: center;
	}
	.PageArenda__PS_left,.PageArenda__PS_right{
		width: 70%;
	}
	.PageArenda__prices_text{
		margin-bottom: 37px;
	}
	.PageArenda__PS_left{
		margin-bottom: 40px;
	}
	.PageArenda__PS{
		margin-bottom: 60px;
	}
}


@media screen and (max-width: 419px){
	.PageArenda__Gallery{
		columns: 1;
	}
	.PageArenda__header_logo{
		width: 14vh;
	}
	.a1{
		margin-left: 99px;
    	min-height: 70px;
	}
	.PageArenda__header_contacts a{
		margin-left: 8px;
	}
	.PageArenda__header_contacts-phone{
		font-size: 14px;
	}
	.PageArenda__header_contacts-mail{
		font-size: 12px;
	}
	.PageArenda__MainPic_text-offices{
		font-size: 36px;
	}
	.PageArenda__MainPic_text-arenda{
		font-size: 20px;
	}
	.PageArenda__MainPic{
		background-size: 144vh
	}
	.PageArenda__MainPic{
		padding-top: 130px;
    	padding-bottom: 148px;
	}
	.PageArenda__headline{
		line-height: 40px;
	    font-size: 26px;
	}
	.list_text{
		font-size: 12px;
	}
	.content-pic img{
		display: none;
	}
	.content-title{
		margin-left: 0;
	}
	.PageArenda__content_header .header-up{
		line-height: 24px;
    	font-size: 18px;
	}

	.PageArenda__content_header .header-down{
		line-height: 22px;
    	font-size: 16px;
	}
	.content-squares{
		margin-bottom: 30px;
	}
	.PageArenda__content_number{
		font-size: 114px;
		line-height: 202px;
	}






	.PageArenda__form_list_item{
		margin-left: 0;
		margin-bottom: 8px;
	}
	
	.PageArenda__content_text{
		font-size: 14px;
		line-height: 27px;
	}
	.PageArenda__headline{
		margin: 40px auto 12px;
	}
	.PageArenda__form_text{
		padding-top: 20px;
	}
	.PageArenda__form_text{
		padding-bottom: 15px;
	}
	#WeOffer{
		margin-top: 80px; margin-bottom: 0;
	}
	.content-pic img{
		width: 8vh;
	}
	.content-society{
		margin-bottom: 49px;
	}
	#ContactUs {
    	margin: 52px auto 32px;
	}
	.PageArenda__contacts_title{
		    font-size: 22px;
	}
	.PageArenda__contacts{
		padding-top: 53px;
    	padding-bottom: 53px;
	}
	.PageArenda__contacts_name{
		font-size: 20px;
	}
	.Dudarev-Afanasiev{
		flex-direction: column;
		align-items: center;
	}
	.PageArenda__contacts_name{
		margin-top:25px;
	}
	.PageArenda__form_title{
		line-height: 33px;
    font-size: 22px;
	}
	.PageArenda__form_data form input[type="submit"]{
		font-size: 20px;
	}
	#ArendaRates{
		margin-top: 88px;
    margin-bottom: 12px;
	}
	.PageArenda__prices{
		padding-top: 22px;
	}
	.PageArenda__prices_header{
		align-items: center;
	}
	.PageArenda__prices_header_left{
		margin-right: 0;
	}
	.PageArenda__prices_header-up{
		font-size: 18px;
		line-height: 33px;
	}
	.PageArenda__prices_header-down{
		font-size: 14px;
		line-height: 33px;
	}
	.PageArenda__PS_left,.PageArenda__PS_right{
			width: 85%;
	}
	.PageArenda__PS_memo_download a{
			font-size: 13px;
	    	line-height: 31px;
		}
	.PageArenda__PS_memo_pic img{
		width: 3.0vh;
		margin-top: 5px;
	}
	.PageArenda__PS_memo_download{
		padding-top: 8px;
	}
}

	/* от Дениса-----------------------*/
	@media screen and (min-width:970px)
{
  .js-burger-menu
  {
    display:none;
  }  
}


@media screen and (max-width:960px)
{

  .a1
  {
    flex-direction:row;
  }

  .PageArenda__header_nav
  {
    display:none;
  }

  .header__burger
  {
    display:block;
    align-self:center;
  }




}
/*-------------------------------------------*/
	









}
@font-face {font-family:HelveticaNeueCyr;
  src:url("font/helvetica-neue-cyr_normal/font.ttf");
  font-weight: normal;
  font-style: normal;}

  @font-face {font-family:HelveticaNeueCyr;
  src:url("font/helvetica-neue-cyr_bold/font.ttf");
  font-weight: bold;
  font-style: normal;}

  @font-face {font-family:HelveticaNeueCyr;
  src:url("font/helvetica-neue-condensed-bold/font.ttf");
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed}

@font-face {font-family:HelveticaNeue;
  src:url("font/helvetica-neue-condensed-bold/font.ttf");
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;}